/*Charities Page*/
.row {
    display: flex;
    margin-left: 15px;
}


.col{
    align-items: stretch;
    flex-direction: column;
    margin-bottom: auto;
    margin-right: 22px;
    flex: 50%;
}

.extra {
    border-radius: 4px;
    width: 100%;
    height: 400px;
    max-width:600px;
}

/*Home Page*/

.homepage_images {
  display: flex;
  flex-direction: row;

}

.homepage_images img {
  margin-left: auto;
  margin-right: auto;
  width: 30%;

  border: double 8px darkred;
  border-radius: 10px;
}

/*Menu Page*/

h4 {
  font-weight: bold;
}

.hidden{
  display: none;
}

.dish{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon{
  width: 40px;
  height: 40px;
}

.menuImg{
  width: 250px;
}

.row1 {
  display: flex;
  flex-direction: row;
  border: double 4px darkred;
  border-radius: 10px;
  border-right: none;
}

.row1 div {
  margin-right: auto;
  border: double 4px darkred;
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding: 10px;
}

.row1 #main_dish {
  width: 33%;
}
.row1 #sauces {
  width: 33%;
}
.row1 #add_protein {
  width: 33%;
}
.row1 #sauces {
  width: 33%;
}

.row1 #main_dish .dish{
  margin-top: -10px;
  border: none;
}

.row1 #sauces .dish{
  margin-top: -10px;
  border: none;
}

.row2 {
  display: flex;
  flex-direction: row;
  border: double 4px darkred;
  border-radius: 10px;
  border-right: none;
  border-top: none;

}

.row2 div{
  margin-right: auto;
  border:double 4px darkred;
  border-top: none;
  border-bottom: none;
  border-left: none;
  padding: 10px;
}

.row2 #sides{
  width: 50%;
}

.row2 #drinks{
  width: 50%;
}



/*Overall*/

body {
    background-color: hsl(32, 25%, 88%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    color: #200303;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
    background-color: black;
  }

  .logo {
    padding-right: 10px;
  }

.title {
    color:white;
}

h2 {
    color: darkred;
}


/*Navigation Bar*/

ul.nav > li{
    display: inline-block;
  }

  ul.nav > li a{
    color: #ffffff;
    font-size: x-large;
    padding-inline:90px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    background-color: darkred;
    padding: 10px;
  }

/*About Page*/

.foundingstory {
    border: double 8px darkred;
    border-radius: 25px;
    /* justify-self: center; */
    margin-left: 25%;
}

  .dropdown-menu {
    display:flex;
    justify-content: right;
    flex-direction: column;
  }

  button:hover,
  button:active {
    color: white;
  }

  button{
    cursor: pointer;
    background-color:#F8B195;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    font-family: verdana, sans-serif;
    display: block;
    border: 2.5px solid;
    padding: .5em 1em;
    border-radius: 1.5em;
    margin: 0em;
  }

  #dropdown-options a{
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }

  #dropdown-options a:link,
  #dropdown-options a:visited {
    color: #000000;
  }

  #dropdown-pages a:focus,
  #dropdown-pages a:hover,
  #dropdown-pages a:active {
    color: rgb(21, 6, 6);
  }


/*Phone Screen Styling*/

  @media (max-width: 800px) {
    /*Home Page*/
    .row {
      flex-direction: column;
    }

    /*Home Page*/

    .homepage_images {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .homepage_images img{
      margin-left:0;
      margin-right:0;
      position: relative;
      left: -10px;

      width: auto;
      max-width: 570px;
    }

    /*About Page*/

    .foundingstory {
      margin-left:0;
      margin-right:0;
      width: 90%;
    }

    /*Charities Page*/

    .row {
      margin-left: 0;
    }

    #one {
      margin-top: -10px;
    }


    /* Menu Page */
    .row1 {
      display: flex;
      flex-direction:column;
      border: none;
    }

    .row1 div{
      border: none;
      padding: 0;
    }

    .row2 {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      border: none;
    }

    .row2 div{
      border: none;
      padding:0;
    }

    .row1 #main_dish {
      width: 100%;
    }
    .row1 #sauces {
      width: 100%;
    }
    .row1 #add_protein {
      width: 100%;
    }
    .row1 #sauces {
      width: 100%;
    }

}


/*hover*/

#dish1:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish11:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish2:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish22:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish3:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish33:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish4:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish44:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish5:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish55:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish6:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish66:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish7:hover {
  border: solid rgb(46, 40, 30) 3px;
}
#dish77:hover {
  border: solid rgb(46, 40, 30) 3px;
}

#instalink:hover {
  color:black;
}
